<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0">
    <title>Simple Trial Balance</title>
    <style>
        table { 
        border-collapse: collapse; 
        width: 100%; 
    }

        th, td { 
        border: 1px solid #ddd; 
        padding: 8px; 
        text-align: left; 
    }
        th { 
        background-color: #f4f4f4; 
    }
    
    .right-button {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    </style>
</head>

<body>
    {% if user.is_authenticated %}
        <p> Zalogowano: {{ user.username }}</p>
        <form method="POST" action="{% url 'user_logout' %}" class="right-button">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
    {% endif %}

    <FONT FACE="Courier New">
        <h1>Simple Trial Balance</h1>
    </FONT>
    <FONT FACE="Arial">
        <p>Simple Trial Balance - only Fixed and Current assets</p>
    </FONT>
<table>
    <thead>
        <tr>
            <th>Account Name</th>
            <th>Account Number</th>
            <th>Opening Balance</th>
            <th>Activity</th>
            <th>Closing Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for record in trial_balance_data %}
            <tr>
                <td>{{ record.account_name }}</td>
                <td>{{ record.account_number }}</td>
                <td>{{ record.opening_balance }}</td>
                <td>{{ record.activity }}</td>
                <td>{{ record.closing_balance }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<p>Options:</p>
<form method="GET" action="">
    <select name="action" required>
        {% for form in dropdown_list_main %}     
            <option value="{{ form.class }}">{{ form.name }}</option>
        {% endfor %}
    </select>
<button type="submit">Go!</button>
</form>

</body>
</html>
